$primary-color: #fcfbfc;
$light-purple: #e9e3fe;
$dark-purple: #8a70d6;
$dark-blue: #579be4;
$light-blue: #e5f3fe;
$dark-orange: #fcab5e;
$light-orange: #fff0e1;
$dark-pink: #E193D8;
$light-pink: #FFE3FB;
$white: #ffffff;
$dark-color: #181131;
$font-color: (
  "primary": rgb(35, 35, 35),
  "secondary": #f7f7f7,
  "other": rgb(116, 120, 127),
);
$border-radius: (
  "s": 0.5rem,
  "m": 1rem,
  "l": 1.5rem,
);
$font-size: (
  "s": 1rem,
  "m": 1.4rem,
  "ml": 1.8rem,
  "l": 2.2rem,
  "xl": 3rem,
  "2xl": 4rem,
  "3xl": 5rem,
);
$font-weight: (
  "thin": 300,
  "regular": 450,
  "course-title": 520,
  "medium": 550,
  "bold": 700,
);

@keyframes blob{
  0%{
  border-radius:2rem 

  }
  25%{ 
  border-radius:31% 69% 55% 45% / 14% 73% 27% 86%;
  background-color: $light-orange;

  
}
50%{
  border-radius:68% 32% 35% 65% / 50% 25% 75% 50%; 
  background-color: $light-blue;

  
}
75%{
  border-radius:0% 100% 0% 100% / 99% 0% 100% 1%;
  background-color: $light-pink;

  
}
100%{
  border-radius:31% 69% 55% 45% / 14% 73% 27% 86%;
  background-color: $light-purple;


  }
}
