@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap");
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes blob {
  0% {
    border-radius: 2rem;
  }
  25% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #fff0e1;
  }
  50% {
    border-radius: 68% 32% 35% 65%/50% 25% 75% 50%;
    background-color: #e5f3fe;
  }
  75% {
    border-radius: 0% 100% 0% 100%/99% 0% 100% 1%;
    background-color: #ffe3fb;
  }
  100% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #e9e3fe;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1500px;
  max-width: 90%;
  margin: auto;
  padding: 1rem;
}

html {
  font-size: 62.5%;
  font-family: "ًRoboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes blob {
  0% {
    border-radius: 2rem;
  }
  25% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #fff0e1;
  }
  50% {
    border-radius: 68% 32% 35% 65%/50% 25% 75% 50%;
    background-color: #e5f3fe;
  }
  75% {
    border-radius: 0% 100% 0% 100%/99% 0% 100% 1%;
    background-color: #ffe3fb;
  }
  100% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #e9e3fe;
  }
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes blob {
  0% {
    border-radius: 2rem;
  }
  25% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #fff0e1;
  }
  50% {
    border-radius: 68% 32% 35% 65%/50% 25% 75% 50%;
    background-color: #e5f3fe;
  }
  75% {
    border-radius: 0% 100% 0% 100%/99% 0% 100% 1%;
    background-color: #ffe3fb;
  }
  100% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #e9e3fe;
  }
}
.center {
  height: 80%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  gap: 2rem;
}
.main__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.main__title__left {
  font-size: 2.8rem;
  font-weight: 500;
  color: rgb(35, 35, 35);
}
.main__title__right input {
  border-radius: 1rem;
  border: none;
  outline: none;
  margin: 0 0.5rem 0 0;
  outline: none;
  background-color: white;
  font-size: 1.6rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main__title__right .notifications {
  background: white;
  border: none;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(116, 120, 127);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s linear;
}
.main__title__right .notifications:hover {
  background-color: #8a70d6;
  color: white;
}
.main__courses__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.courses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.courses__title {
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  width: 18rem;
}
.course__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem 0 0 0;
}
.course__text h3 {
  font-size: 1.5rem;
  font-weight: 520;
}
.course__text p {
  font-size: 1.2rem;
}

.course__avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem 0 0 0;
}
.course__avatars .continue {
  font-size: 1.6rem;
  color: #f7f7f7;
  padding: 0.8rem 1.5rem;
  border: 0.5px solid none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.geography__button {
  background-color: #fcab5e;
  transition: all 0.2s linear;
}
.geography__button:hover {
  background-color: #fff0e1;
  color: #fcab5e;
}

.js__button {
  background-color: #8a70d6;
  transition: all 0.2s linear;
}
.js__button:hover {
  background-color: #e9e3fe;
  color: #8a70d6;
}

.photography__button {
  background-color: #579be4;
  transition: all 0.2s linear;
}
.photography__button:hover {
  background-color: #e5f3fe;
  color: #579be4;
}

.avatars img {
  border: 0.5px solid none;
  border-radius: 5rem;
  width: 3rem;
}

.course__img {
  width: 100%;
  height: 11rem;
  display: grid;
  place-items: center;
}
.course__img img {
  width: 12rem;
  padding: 1rem;
}

.geography {
  background-color: #fff0e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.5px solid none;
  border-radius: 2rem;
  transition: all 0.2s linear;
}
.geography .geo__img {
  background-color: #fcab5e;
  border: 0.5px solid none;
  border-radius: 2rem;
}

.js {
  background-color: #e9e3fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.5px solid none;
  border-radius: 2rem;
}
.js .js__img {
  background-color: #8a70d6;
  border: 0.5px solid none;
  border-radius: 2rem;
}

.photography {
  background-color: #e5f3fe;
  border: 0.5px solid none;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.photography .photography__img {
  background-color: #579be4;
  border: 0.5px solid none;
  border-radius: 2rem;
}

.mycourses {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mycourses__title {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.mycourses__title p {
  font-size: 2rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}
.mycourses__title a {
  text-decoration: none;
}

.mycourses__grid {
  padding: 0 0 0 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}
.mycourses__grid .table__title {
  color: rgb(116, 120, 127);
  align-self: center;
}

.mycourse__logo {
  width: 5rem;
  border: 0.5px solid none;
  border-radius: 1rem;
  padding: 1.55rem;
  display: grid;
  font-size: 2rem;
  place-items: center;
}

.web-design__logo {
  border-radius: 1rem;
  color: #8a70d6;
  background-color: #e9e3fe;
}

.web-dev__logo {
  border-radius: 1rem;
  color: #579be4;
  background-color: #e5f3fe;
}

.python__logo {
  border-radius: 1rem;
  color: #e193d8;
  background-color: #ffe3fb;
}

.html__logo {
  border-radius: 1rem;
  color: #8a70d6;
  background-color: #e9e3fe;
}

.js__logo {
  border-radius: 1rem;
  color: #fcab5e;
  background-color: #fff0e1;
}

.mycourse__text p {
  font-size: 1.6rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}
.mycourse__text span {
  font-size: 1.4rem;
  font-weight: 450;
  color: rgb(116, 120, 127);
}

.mycourse__date {
  font-size: 1.4rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}

.mycourse__rate {
  font-size: 1.4rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}

.mycourse__level {
  font-size: 1.4rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes blob {
  0% {
    border-radius: 2rem;
  }
  25% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #fff0e1;
  }
  50% {
    border-radius: 68% 32% 35% 65%/50% 25% 75% 50%;
    background-color: #e5f3fe;
  }
  75% {
    border-radius: 0% 100% 0% 100%/99% 0% 100% 1%;
    background-color: #ffe3fb;
  }
  100% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #e9e3fe;
  }
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
}
.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
  padding: 1rem 0 1rem 0;
  margin: 0 0 2rem 0;
}
.nav__logo h2 {
  font-size: 1.6rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}
.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.nav__links .nav__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  transition: all 0.1s linear;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  color: rgb(116, 120, 127);
  font-size: 1.6rem;
}
.nav__links .nav__link::after {
  content: "";
  position: absolute;
  top: 85%;
  height: 1px;
  width: 0;
  background-color: #8a70d6;
  transition: all 0.2s linear;
}
.nav__links .nav__link:hover:after {
  color: rgb(35, 35, 35);
  background-color: #8a70d6;
  width: 80%;
}
.nav__subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  padding: 1rem;
}
.nav__subscription img {
  position: absolute;
  top: -4%;
  width: 25rem;
  border-radius: 1rem;
  padding: 0 0 2rem 0;
}
.nav__subscription .subscription__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  gap: 1rem;
  background-color: #e9e3fe;
  padding: 10rem 1rem 1rem 1rem;
  margin: 10rem 0 0 0;
  border-radius: 2rem;
  animation: blob 15s infinite 3s forwards;
}
.nav__subscription .subscription__text h3 {
  font-size: 2rem;
  font-weight: 450;
  width: 100%;
}
.nav__subscription .subscription__text p {
  color: rgb(116, 120, 127);
  padding: 0.5rem 0 0 0;
}
.nav__subscription button {
  background-color: #8a70d6;
  color: #f7f7f7;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.nav__subscription button:hover {
  color: rgb(35, 35, 35);
  background-color: #e9e3fe;
}

.logo-sq {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #e9e3fe;
  transform: rotate(45deg);
  z-index: 10000;
}
.logo-sq::after {
  content: "";
  background-color: #8a70d6;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1.7rem;
  top: -1.5rem;
  z-index: -2000;
}

.active {
  background-color: #e9e3fe;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes blob {
  0% {
    border-radius: 2rem;
  }
  25% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #fff0e1;
  }
  50% {
    border-radius: 68% 32% 35% 65%/50% 25% 75% 50%;
    background-color: #e5f3fe;
  }
  75% {
    border-radius: 0% 100% 0% 100%/99% 0% 100% 1%;
    background-color: #ffe3fb;
  }
  100% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #e9e3fe;
  }
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e9e3fe;
  padding: 5rem 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid none;
  border-radius: 1.5rem;
  flex-wrap: nowrap;
  background-color: #fcfbfc;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
  }
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes blob {
  0% {
    border-radius: 2rem;
  }
  25% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #fff0e1;
  }
  50% {
    border-radius: 68% 32% 35% 65%/50% 25% 75% 50%;
    background-color: #e5f3fe;
  }
  75% {
    border-radius: 0% 100% 0% 100%/99% 0% 100% 1%;
    background-color: #ffe3fb;
  }
  100% {
    border-radius: 31% 69% 55% 45%/14% 73% 27% 86%;
    background-color: #e9e3fe;
  }
}
.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circular-chart .circle {
  stroke: #579be4;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pch {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5vh;
  height: 99%;
  background-color: #e9e3fe;
  padding: 1rem;
  transition: all 0.2s linear;
  animation: blob 20s 4s infinite forwards;
  border-radius: 2rem;
  position: relative;
}
.pch::before {
  content: "";
  width: 100%;
  height: 102.5%;
  background-color: rgba(200, 199, 200, 0.04);
  backdrop-filter: blur(10px);
  position: absolute;
  top: -1.25%;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.calendar__title p {
  font-size: 2rem;
  font-weight: 700;
}
.calendar input {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
}
.calendar input:focus {
  outline: #8a70d6;
}

.homework {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  border-radius: 1rem;
}
.homework__title p {
  font-size: 2rem;
}
.homework__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.homework__1__percent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.homework__1__percent svg {
  width: 60%;
}
.homework__1__text p {
  color: rgb(35, 35, 35);
}
.homework__1__text span {
  color: rgb(116, 120, 127);
}
.homework__1::before {
  content: "";
  height: 0;
  width: 2px;
  background-color: #8a70d6;
  transition: all 0.2s linear;
}
.homework__1:hover::before {
  height: 6rem;
}
.homework__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.homework__2__percent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.homework__2__percent svg {
  width: 60%;
}
.homework__2__text p {
  color: rgb(35, 35, 35);
}
.homework__2__text span {
  color: rgb(116, 120, 127);
}
.homework__2::before {
  content: "";
  height: 0;
  width: 2px;
  background-color: #8a70d6;
  transition: all 0.2s linear;
}
.homework__2:hover::before {
  height: 6rem;
}
.homework__3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.homework__3__percent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.homework__3__percent svg {
  width: 60%;
}
.homework__3__text p {
  color: rgb(35, 35, 35);
}
.homework__3__text span {
  color: rgb(116, 120, 127);
}
.homework__3::before {
  content: "";
  height: 0;
  width: 2px;
  background-color: #8a70d6;
  transition: all 0.2s linear;
}
.homework__3:hover::before {
  height: 6rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.profile__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150%;
  gap: 1rem;
  font-size: 2.8rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}
.profile__title button {
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: 450;
  color: rgb(116, 120, 127);
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.profile__title button:hover {
  background-color: #8a70d6;
  color: #ffffff;
}
.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.profile__wrapper .profile__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile__wrapper .profile__img img {
  width: 15rem;
  border-radius: 20rem;
}
.profile__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.profile__text .profile__name p {
  font-size: 2rem;
  font-weight: 450;
  color: rgb(35, 35, 35);
}
