@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  height: 100rem;
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
  padding: 1rem;
}

html {
  font-size: 62.5%;
  font-family: "ًRoboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5rem;
}
.main__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.main__title__right input {
  border-radius: 1rem;
  border: none;
  outline: none;
  margin: 0 0.5rem 0 0;
  outline: none;
  background-color: white;
  font-size: 1.8rem;
  padding: 1rem;
}
.main__title__right .notifications {
  background: white;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(116, 120, 127);
}
.main__courses__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.courses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70rem;
}
.courses__title {
  margin: 0 0 1rem 0;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  width: 22rem;
}
.course__text {
  padding: 0.5rem 0 0 0;
}
.course__text h3 {
  font-size: 1.5rem;
  font-weight: 520;
}
.course__text p {
  font-size: 1.2rem;
}

.course__avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5rem 0 0 0;
}
.course__avatars .continue {
  font-size: 1.8rem;
  color: #f7f7f7;
  padding: 0.8rem 1.5rem;
  border: 0.5px solid none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.geography__button {
  background-color: #fcab5e;
}

.js__button {
  background-color: #8a70d6;
}

.photography__button {
  background-color: #579be4;
}

.avatars img {
  border: 0.5px solid none;
  border-radius: 5rem;
  width: 3rem;
}

.course__img {
  width: 100%;
  height: 13rem;
  display: grid;
  place-items: center;
}
.course__img img {
  width: 12rem;
  padding: 1rem;
}

.geography {
  background-color: #fff0e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.5px solid none;
  border-radius: 2rem;
}
.geography .geo__img {
  background-color: #fcab5e;
  border: 0.5px solid none;
  border-radius: 2rem;
}

.js {
  background-color: #e9e3fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.5px solid none;
  border-radius: 2rem;
}
.js .js__img {
  background-color: #8a70d6;
  border: 0.5px solid none;
  border-radius: 2rem;
}

.photography {
  background-color: #e5f3fe;
  border: 0.5px solid none;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.photography .photography__img {
  background-color: #579be4;
  border: 0.5px solid none;
  border-radius: 2rem;
}

.mycourses {
  width: 80%;
}
.mycourses__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mycourses__grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}
.mycourses__grid .table__title {
  color: rgb(116, 120, 127);
}

.mycourse__logo {
  width: 5rem;
  border: 0.5px solid none;
  border-radius: 1rem;
  display: grid;
  padding: 1.5rem;
  font-size: 2.2rem;
  place-items: center;
}

.web-design__logo {
  color: #8a70d6;
  background-color: #e9e3fe;
}

.web-dev__logo {
  color: #579be4;
  background-color: #e5f3fe;
}

.python__logo {
  color: #E193D8;
  background-color: #FFE3FB;
}

.html__logo {
  color: #8a70d6;
  background-color: #e9e3fe;
}

.js__logo {
  color: #fcab5e;
  background-color: #fff0e1;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.nav__links .nav__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  transition: all 0.1s linear;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  color: rgb(116, 120, 127);
  font-size: 1.8rem;
}
.nav__links .nav__link:hover {
  color: rgb(35, 35, 35);
  background-color: #e9e3fe;
}
.nav__subscription {
  width: 28ch;
  background-color: #e9e3fe;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  padding: 1rem;
}
.nav__subscription img {
  width: 21rem;
  border-radius: 1rem;
  padding: 0 0 2rem 0;
}
.nav__subscription .subscription__text {
  padding: 2rem;
}
.nav__subscription .subscription__text h3 {
  font-size: 2.2rem;
  font-weight: 450;
}
.nav__subscription .subscription__text p {
  color: rgb(116, 120, 127);
  padding: 0.5rem 0 0 0;
}

.logo-sq {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #e9e3fe;
  transform: rotate(45deg);
  z-index: 10000;
}
.logo-sq::after {
  content: "";
  background-color: #8a70d6;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1.7rem;
  top: -1.5rem;
  z-index: -2000;
}

body {
  background-color: #e9e3fe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 0.5px solid none;
  border-radius: 1.5rem;
  background-color: #fcfbfc;
  padding: 3rem;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart .circle {
  stroke: #579be4;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.homework {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.homework__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homework__1__percent {
  width: 22rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.homework__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homework__2__percent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 22rem;
}
.homework__3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homework__3__percent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 22rem;
}
