@import "../utilities/utilities";

.center{
  height: 80%;
}

.main {
  @include flex(column, space-between, center);
  height: 90%;
  gap: 2rem;

  &__title {
    @include flex(row, space-between, center);
    // gap:2rem;
    width: 90%;

    &__left {
      font-size: map-get($font-size, "xl" );
      font-weight: 500;
      color: map-get($font-color, "primary")
    }

    &__right {
      input {
        border-radius: 1rem;
        border: none;
        outline: none;
        margin: 0 0.5rem 0 0;
        outline: none;
        background-color: #ffff;
        font-size: map-get($font-size, "ml");
        padding: 1rem;
      }

      .notifications {
        background: #ffff;
        border: none;
        outline: none;
        font-size: map-get($font-size, "ml");
        cursor: pointer;
        color: map-get($font-color, "other");
      }
    }
  }

  &__courses__wrapper {
    @include flex(row, center, flex-start);
    gap: 1rem;
  }
}

.courses {
  @include flex(column, flex-start, flex-start);
  // max-width: 100%;

  &__title {
    margin: 0 0 1rem 0;
    font-size: map-get($font-size, "l" );
    font-weight: map-get($font-weight, "regular");
    color: map-get($font-color, "primary")
  }
}

.course {
  @include flex(column, flex-start, flex-start);
  gap: 0.5rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 20rem;

  &__text {
    @include flex(column, flex-start, flex-start);
    gap: 0.5rem;
    padding: 0.5rem 0 0 0;
    h3 {
      font-size: 1.5rem;
      font-weight: map-get($font-weight, "course-title");
    }
    p {
      font-size: 1.2rem;
    }
  }


  
}

.course__avatars {
  @include flex(row, space-between, center);
  width: 100%;
  padding: 5rem 0 0 0;

  .continue {
    font-size: map-get($font-size, "ml");
    color: map-get($font-color, "secondary");
    padding: 0.8rem 1.5rem;
    @include border(none, 0.8rem);
    cursor: pointer;
  }
}

.geography__button {
  background-color: $dark-orange;
}

.js__button{
  background-color: $dark-purple;
}

.photography__button{
  background-color: $dark-blue;
}

.avatars {
  img {
    @include border(none, 5rem);
    width: 3rem;
  }
}

.course__img {
  width: 100%;
  height: 13rem;
  display: grid;
  place-items: center;

  img {
    width: 12rem;
    padding: 1rem;
  }
}

.geography {
  background-color: $light-orange;
  @include flex(column, center, flex-start);
  @include border(none, 2rem);
  transition: all 0.2s linear;
  // z-index: 20;
  // &:hover{
  //   transform: translateY(0.5rem);
  // }


  .geo__img {
    background-color: $dark-orange;
    @include border(none, 2rem);
  }
}

.js {
  background-color: $light-purple;
  @include flex(column, center, flex-start);
  @include border(none, 2rem);
  // &:hover{
  //   transform: translateY(0.5rem);
  // }

  .js__img {
    background-color: $dark-purple;
    @include border(none, 2rem);
  }
}

.photography {
  background-color: $light-blue;
  @include border(none, 2rem);
  @include flex(column, center, flex-start);

  // &:hover{
  //   transform: translateY(0.5rem);
  // }

  .photography__img {
    background-color: $dark-blue;
    @include border(none, 2rem);
  }
}


.mycourses{
  width: 90%;

  @include flex(column, center, flex-start);


  &__title{
    width: 99%;
    @include flex(row, space-between, flex-start);
    p{
      font-size: map-get($font-size, "l" );
        font-weight: map-get($font-weight, "regular");
        color: map-get($font-color, "primary")
    }
    a{
      text-decoration: none;
    }
  }
}

.mycourses__grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;

  .table__title{
    color: map-get($font-color, "other" );
    align-self: flex-end;
  }

  //  grid-template-areas:
  //   "a a a a b b b b"
  //   "c c c c d d d d"
  //   "e e e e f f f f"
  //   "g g g g h h h h";
}

.mycourse__logo {
  width: 5rem;
  @include border(none, 1rem);
  display: grid;
  padding: 1.5rem;
  font-size: map-get($font-size, "l");
  place-items: center;
}

.web-design__logo{
  border-radius: 1rem;
  color: $dark-purple;
  background-color: $light-purple;
}
.web-dev__logo{
  border-radius: 1rem;
  color: $dark-blue;
  background-color: $light-blue;
  // padding: 1.4rem;
}
.python__logo{
  border-radius: 1rem;
  color: $dark-pink;
  background-color: $light-pink;
}
.html__logo{
  border-radius: 1rem;
  color: $dark-purple;
  background-color: $light-purple;
}
.js__logo{
  border-radius: 1rem;
  color: $dark-orange;
  background-color: $light-orange;
}

.mycourse__text{
  p{
    font-size: map-get($font-size, "ml" );
        font-weight: map-get($font-weight, "regular");
        color: map-get($font-color, "primary")

  }
  span{
    font-size: map-get($font-size, "m" );
      font-weight: map-get($font-weight, "regular");
      color: map-get($font-color, "other")
  }
}

.mycourse__date{
  font-size: map-get($font-size, "m" );
      font-weight: map-get($font-weight, "regular");
      color: map-get($font-color, "primary")
}
.mycourse__rate{
  font-size: map-get($font-size, "m" );
      font-weight: map-get($font-weight, "regular");
      color: map-get($font-color, "primary")
}
.mycourse__level{
  font-size: map-get($font-size, "m" );
      font-weight: map-get($font-weight, "regular");
      color: map-get($font-color, "primary")
}