@import "../utilities/utilities";

.left {
  // height: 80%;
  @include flex(column, center, flex-start);
  width: 20rem;
}

.nav {
  @include flex(column, space-between, flex-start);
  height: 90%;
  // gap: 3rem;
  

  &__logo {
    @include flex(row, space-between, center);
    gap: 4rem;
    cursor:pointer;
    padding: 1rem 0 1rem 0;
    margin: 0 0 2rem 0;

    h2{
      font-size: map-get($font-size, "ml" );
      font-weight: map-get($font-weight, "regular");
      color: map-get($font-color, "primary")
    }
  }

  &__links {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;

    .nav__link {
      @include flex(row, flex-start, center);
      gap: 1rem;
      transition: all 0.1s linear;
      padding: 1rem;
      width: 100%;
      border-radius: map-get($border-radius, "m");
      cursor: pointer;
      color: map-get($font-color, "other");
      font-size: map-get($font-size, "ml");
      // height: 5rem;

      &::after{
        content: "";
        position: absolute;
        top: 85%;
        height: 1px;
        width: 0;
        background-color: $dark-purple;
        transition: all 0.2s linear;
      }

      &:hover:after{
        color: map-get($font-color, "primary");
        background-color: $dark-purple;
        width: 80%;
      }
    }
  }

  &__subscription {
    @include flex(column, center, flex-start);
    width: 80%;
    display: grid;
    place-items: center;
    border-radius: map-get($border-radius, "m");
    padding: 1rem;
    
    img {
      position: absolute;
      top: -4%;
      width: 25rem;
      border-radius: map-get($border-radius, "m");
      padding: 0 0 2rem 0;
    }
    
    .subscription__text {
      @include flex(column, center, center);
      width: 22rem;
      gap: 1rem;
      background-color: $light-purple;
      padding: 10rem 1rem 1rem 1rem;
      margin: 10rem 0 0 0;
      border-radius: 2rem
      // width: 90%;
      h3 {
        font-size: map-get($font-size, "l");
        font-weight: map-get($font-weight, "regular");
        width: 100%;
      }
      p {
        color: map-get($font-color, "other");
        padding: 0.5rem 0 0 0;
      }
    }
    
    button{
      background-color:$dark-purple;
      color: map-get($font-color, "secondary");
      padding: 1rem 2rem;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover{
        color: map-get($font-color, "primary");
        background-color: $light-purple;
      }
    }
  }
}

.logo-sq {
  position: relative;
  // left: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: $light-purple;
  transform: rotate(45deg);
  z-index: 10000;

  &::after {
    content: "";
    background-color: $dark-purple;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 1.7rem;
    top: -1.5rem;
    z-index: -2000;
  }
}



.active{
  // color: #FFFF;
  background-color: $light-purple;
}
