@import "../utilities/utilities";

.nav {
  @include flex(column, flex-start, flex-start);
  gap: 5rem;

  &__links {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;

    .nav__link {
      @include flex(row, flex-start, center);
      gap: 1rem;
      transition: all 0.1s linear;
      padding: 1rem;
      width: 15rem;
      border-radius: map-get($border-radius, "m");
      cursor: pointer;
      // height: 5rem;

      i {
        color: map-get($font-color, "other");
      }

      &:hover {
        color: map-get($font-color, "primary");
        background-color: $light-purple;
      }
    }
  }

  &__subscription {
    width: 28ch;
    img {
      width: 20rem;
    }
  }
}

.logo-sq {
  position: relative;
  // left: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: $light-purple;
  transform: rotate(45deg);
  z-index: 10000;

  &::after {
    content: "";
    background-color: $dark-purple;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 1.7rem;
    top: -1.5rem;
    z-index: -2000;
  }
}
