@import "../utilities/utilities";

#nav__link {
  cursor: pointer;
}

.logo-sq {
  position: relative;
  // left: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: $light-purple;
  transform: rotate(45deg);
  z-index: 10000;

  &::after {
    content: "";
    background-color: $dark-purple;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 1.7rem;
    top: -1.5rem;
    z-index: -2000;
  }
}
