@import "../utilities/utilities";

body {
  @include flex(row, center, center);
  background-color: $light-purple;
  padding: 5rem 3rem;
}

.container {
  @include flex(row, space-evenly, center);
  @include border(none, 1.5rem);
  // height: 100%;
  // width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  // flex-basis: 2300px;
  background-color: $primary-color;
  // padding: 0 0 0 3rem;
}
