@import "../utilities/utilities";

body {
  background-color: $light-purple;
  @include flex(row, center, center);
  padding: 3rem;
}

.container {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  // flex-basis: 60%;
  @include border(none, 1.5rem);
  background-color: $primary-color;
  padding: 3rem;
}

// .left {
//   width: 20%;
//   // background: red;
// }

// .right {
//   width: 20%;
//   // background: yellow;
// }

// .center {
//   width: 60%;
//   // background: green;
// }
