@import "../utilities/utilities";

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart .circle {
  stroke: $dark-blue;
}


.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}






.homework{
    @include flex(column, center, center);
    width: 95%;

&__1{
    @include flex(row, space-between, center);

    &__percent{
        width: 22rem;
        @include flex(row, flex-start, center);
    }
}
&__2{
    @include flex(row, space-between, center);
    
    &__percent{
        @include flex(row, flex-start, center);
        width: 22rem;
    }
}
&__3{
    @include flex(row, space-between, center);
    
    &__percent{
        @include flex(row, flex-start, center);
        width: 22rem;
    }
}
}