@import "../utilities/utilities";

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart .circle {
  stroke: $dark-blue;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

// start here!!
.right {
  @include flex(column, center, center);
  // height: 100%;
  // width: 90%;
}

.pch {
  width: 90%;
  @include flex(column, space-between, center);
  gap: 5vh;
  height: 99%;
  background-color: $light-purple;
  padding: 1rem;
  transition: all 0.2s linear;
  animation: blob 20s 4s infinite forwards;
  border-radius: 2rem;
}

.calendar {
  @include flex(column, center, center);
  gap: 1rem;
  &__title {
    font-size: map-get($font-size, "l");
  }
  input {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: map-get($font-size, "m");

    &:focus {
      outline: $dark-purple;
    }
  }
}

.homework {
  @include flex(column, center, center);
  width: 99%;
  background-color: rgba(200, 199, 200, 0.095);
  backdrop-filter: blur(10px);
  // border: rgba(164, 164, 164, 0.293) solid;

  &__title {
    p {
      font-size: map-get($font-size, "l");
    }
  }

  &__1 {
    @include flex(row, space-between, center);
    padding: 1rem;
    cursor: pointer;

    &__percent {
      // width: 22%;
      @include flex(row, flex-start, center);
      gap: 1rem;
      svg {
        width: 60%;
      }
    }

    &__text {
      p {
        color: map-get($font-color, "primary");
      }
      span {
        color: map-get($font-color, "other");
      }
    }

    &::before {
      content: "";
      height: 0;
      width: 2px;
      background-color: $dark-purple;
      transition: all 0.2s linear;
    }

    &:hover::before {
      height: 6rem;
    }
  }
  &__2 {
    @include flex(row, space-between, center);
    padding: 1rem;
    cursor: pointer;
     &__percent {

      @include flex(row, flex-start, center);
      gap: 1rem;
      svg {
        width: 60%;
      }
    }

    &__text {
      p {
        color: map-get($font-color, "primary");
      }
      span {
        color: map-get($font-color, "other");
      }
    }

    &::before {
      content: "";
      height: 0;
      width: 2px;
      background-color: $dark-purple;
      transition: all 0.2s linear;
    }

    &:hover::before {
      height: 6rem;
    }
  }
  &__3 {
    @include flex(row, space-between, center);
    padding: 1rem;
    cursor: pointer;
      &__percent {
      // width: 22%;
      @include flex(row, flex-start, center);
      gap: 1rem;
      svg {
        width: 60%;
      }
    }

    &__text {
      p {
        color: map-get($font-color, "primary");
      }
      span {
        color: map-get($font-color, "other");
      }
    }

    &::before {
      content: "";
      height: 0;
      width: 2px;
      background-color: $dark-purple;
      transition: all 0.2s linear;
    }

    &:hover::before {
      height: 6rem;
    }
  }
}

.profile {
  @include flex(column, space-between, center);
  gap: 1rem;
  height: 100%;
  &__title {
    @include flex(row, space-between, center);
    width: 150%;
    gap: 1rem;
    font-size: map-get($font-size, "xl");
    font-weight: map-get($font-weight, "regular");
    color: map-get($font-color, "primary");

    button {
      border: none;
      border-radius: 1rem;
      outline: none;
      font-size: map-get($font-size, "ml");
      font-weight: map-get($font-weight, "regular");
      color: map-get($font-color, "other");
      padding: 1rem;
      background-color: #ffff;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background-color: $dark-purple;
        color: $white;
      }
    }
  }

  &__wrapper {
    @include flex(column, space-between, center);
    gap: 2rem;
    .profile__img {
      @include flex(row, center, center);
      // width: 20rem;
      // border-radius: 20rem;
      // background:red;
      img {
        width: 15rem;
        border-radius: 20rem;
      }
    }
  }

  &__text {
    @include flex(column, space-between, center);
    .profile__name {
      p {
        font-size: map-get($font-size, "l");
        font-weight: map-get($font-weight, "regular");
        color: map-get($font-color, "primary");
      }

      // i{
      //   font-size: map-get($font-size, "ml" );
      //   font-weight: map-get($font-weight, "regular");
      //   color: map-get($font-color, "primary");
      // }
    }
  }
}
